---
layout: layouts/base.njk
permalink: /index.html
---
{% include "partials/masthead.njk" %}

<div class="wrap body-grid">
  {% include "partials/nav.njk" %}
  <main>
    {% include "sections/experience.njk" %}
    {% include "sections/publications.njk" %}
    {% include "sections/research.njk" %}
    {% include "sections/projects.njk" %}
    {% include "sections/awards.njk" %}
  </main>
</div>

{% include "partials/footer.njk" %}
