<footer>
  <div class="wrap">
    <a href="mailto:{{ site.footer.email }}">{{ site.footer.email }}</a> &nbsp;·&nbsp;
    <a href="{{ site.footer.github }}">GitHub</a> &nbsp;·&nbsp; {{ site.footer.location }}
  </div>
</footer>
